/**
 * Site header
 */
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 2px solid $grey-color-light;
    min-height: 56px;
    padding-top: 10px;
    padding-bottom: 5px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-right: 8px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: black;
    }
}

.site-subtitle {
    @extend .site-title;
    line-height: 63px;
    font-size: 20px;

    @include media-query($on-palm) {
        margin-top: -15px;
        top: 9px;
    }
}

.site-nav {
    float: right;
    line-height: 63px;
    font-size: 20px;

    .page-link {
        color: black;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-link {
    display: block;
    font-size: 42px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
