<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arturo Herrero">
  <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/images/cover.png">
  <meta property="og:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}">
  <meta name="twitter:card" content="summary">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn:400,400italic" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

  <link rel="alternate" href="https://feeds.feedburner.com/arturoherrero" type="application/rss+xml" title="Arturo Herrero">

  {% include analytics.html %}
</head>
