<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arturo Herrero" />
  <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link href="http://fonts.googleapis.com/css?family=Vollkorn:400,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/foundation.min.css" />
  <link rel="stylesheet" href="/assets/css/normalize.css" />
  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/assets/css/spinner.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <link href="http://feeds.feedburner.com/arturoherrero" rel="alternate" type="application/rss+xml" title="Arturo Herrero">

  {% include analytics.html %}
</head>
