---
---

@import "spinner";
@import "syntax";

$main_color: #cb0063;
$font_family: "Vollkorn", serif;
$signature_margin_top: 40px;
$post_margin_bottom: 100px;

body {
  font-family: $font_family;
  text-align: left;
  border-top: 5px solid $main_color;
  color: black;
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.row {
  margin: 0 auto;
  max-width: 67.4rem;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.centered {
  width: 100%;
  float: none;
}

@media only screen and (min-width: 40.0625em) {
  .centered {
    width: 75%;
    float: none;
  }
}

.columns {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_family;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3em;
  padding-top: 25px;
  margin: 0.67em 0;

  > a {
    color: black;
    position: relative;
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: none;
    }

    &:visited {
      color: black;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      margin-bottom: 14px;
      bottom: 0;
      left: 0;
      background-color: $main_color;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.585rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (min-width: 40.0625em) {
  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }
}

em {
  letter-spacing: 0.2px;
}

ul, ol, p,
table > thead > tr > th,
table > tbody > tr > td {
  font-size: 1.3rem;
}

blockquote {
  margin: 0 0 1.25rem;
  padding: 0 0 0 1.1875rem;
  border-left: 3px solid #DDDDDD;

  p {
    font-size: 1.28rem;
    color: #1b1b1b;
  }
}

a {
  color: $main_color;
  text-decoration: none;

  &:visited {
    color: $main_color;
    text-decoration: none;
  }

  &:hover {
    color: $main_color;
    text-decoration: underline;
  }
}

P + ul, ol {
  margin-top: -15px;
}

ul, ol {
  padding: 0;
  line-height: 1.6;
  margin-left: 1.1rem;

  &:first-child {
    margin-top: 0px;
  }

  li {
    margin-left: 1.0em;
  }
}

ul li ul, ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}

p {
  margin: 0;
  margin-bottom: 1.25rem;
}

p > code,
li > code {
  font-family: Menlo, monospace;
  background-color: #f8f8f8;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 1px 1px 1px 1px;
  font-size: 80%;
  white-space: nowrap;
}

code {
  border: none;
  padding: 0px;
  font-family: Consolas, monospace;
}

pre {
  margin: 20px 0px 20px 0px;
  background-color: #f8f8f8;
  border-color: #d5d5d5;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-radius: 2px;
  padding: 0.1em;
  padding-right: 1px;
  padding-left: 10px;
  overflow: auto;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  line-height: 0;
  font-size: 75%;
}

img {
  max-width: 100%;
  border: none;
  display: block;
  margin: auto;
}

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  margin: 1.25rem 0 1.1875rem;
}

table {
  border: solid 1px #DDDDDD;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

table thead {
  background: #F0F0F0;

  tr th, tr td {
    padding: 0.5rem 0.625rem 0.625rem;
  }
}

table tr th, table tr td {
  padding: 0.5625rem 0.625rem;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #F5F5F5;
}

.footnotes {
  li, p {
    font-size: 90%;
    line-height : 25px;
    margin-bottom: 0px;
  }
}

footer {
  margin: 20px auto;
  padding-bottom: 30px;
}

.articles {
  .date {
    color: #444444;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    width: 115px;

    &:after {
      background: none repeat scroll 0 0 #bbb;
      content: "";
      display: block;
      float: right;
      height: 5px;
      margin: 7px 15px 0 0;
      width: 5px;
    }
  }

  .article {
    line-height: 2em;
    border-bottom: 2px solid #d9d9d9;
    display: block;

    a.title {
      color: black;
      text-decoration: none;
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 0;
      padding: 15px 0 9px;
      display: block;

      &:visited {
        color: black;
        text-decoration: none;
        font-weight: normal;
        font-size: 1.5rem;
        margin-bottom: 0;
        padding: 18px 0 13px;
        display: block;
      }

      &:hover {
        color: $main_color;
      }
    }
  }
}

#signature {
  margin-top: $signature_margin_top;
  text-align: right;

  #pipe {
    padding: 0 4px 0 7px;
  }
}

.error {
  display: block;
  text-align: center;

  pre {
    text-align: left;
    background-color: inherit;
    border-style: inherit;
    margin-left: -10px;
  }
}

#infinite {
  h3 {
    margin-top: 30px;
  }

  a:hover {
    text-decoration: none;
  }

  .date {
    margin-top: -15px;
  }

  .one h3 a {
    color: inherit;
    pointer-events: none;
    cursor: default;
  }

  #signature {
    margin-top: -$post_margin_bottom + $signature_margin_top;
  }
}

.post {
  margin-bottom: $post_margin_bottom;
}

.photo {
  img:hover {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  }

  margin-bottom: 0px;
}

.side-image {
  position: absolute;
  margin-left: -250px;
  margin-top: 8px;
  float: right;
  width: 200px;
}

.side-image-border {
  @extend .side-image;
  border: 1px solid black;
}

@media only screen and (max-width: 1024px) {
  .side-image {
    img {
      display: none;
    }
  }
}

.iframe-443 {
  padding-top: 61.5%;
}

.iframe-519 {
  padding-top: 72.1%;
}

.iframe-579 {
  padding-top: 80.4%;
}

.iframe-container {
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;

  img {
    margin: 0;
  }
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1.08rem; /* 2 */
}
