---
layout: default
title: Archive
description: The archive with all the posts ever written.
permalink: /archive/
redirect_from:
  - /blog/
  - /archives/
  - /articles/
  - /notes/
---

<h2>{{ page.title }}</h2>

<div>
  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <div>
      <h3>{{ year.name }}</h3>
      <div class="articles">
        {% for article in year.items %}
          <div class="article">
            <span class="date">{{ article.date | date_to_string }}</span>
            <a class="title" href="{{ article.url }}">{{ article.title }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
