<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arturo Herrero, Irene Alegre" />
  <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}Project 365 Day {{ page.title }} {% else %}Project 365 {% endif %} | Arturo Herrero & Irene Alegre</title>

  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/365.css" type="text/css" media="screen, projection" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

  {% include analytics.html %}
</head>
